<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Redis配置-->
    <add key="RedisReadWriteHosts" value="127.0.0.1" />
    <add key="RedisReadOnlyHosts" value="127.0.0.1" />
    <add key="ConnectionString" value="server=rm-wz99jg1ww160u9294fo.mysql.rds.aliyuncs.com;database=linshiftp;pwd=D8E783D436D8B33FBB3A84891C8966D28CB0C0DC825FC849008F3AF54C11F7EC;uid=linshiftp;pooling=true;Port=3306;Charset=gbk;" />
    <add key="ConnectionStringTo" value="server=rm-wz9qcrn64tu36256mto.mysql.rds.aliyuncs.com;uid=yunwei;pwd=43F32D31E8C388228C5A1A99EB51BA21;database=trandemoniter;pooling=true;Port=3306;Charset=gbk;"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--数据在磁盘位置及名称-->
    <add key="file_path_ss" value="C:\\基本面资料.DBF" />
    <add key="file_path_rd" value="C:\\除权数据.pwr" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>